# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: windows
            goarch: amd64
          - goos: linux
            goarch: arm
            goarm: 7
          - goos: linux
            goarch: amd64
          - goos: darwin
            goarch: arm64
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'
        cache-dependency-path: acom-mon/go.sum

    - name: Install Dependencies
      working-directory: acom-mon
      run: |
        if [ ! -f go.mod ]; then go mod init acom-mon; fi
        go mod tidy

    - name: Build
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
        GOARM: ${{ matrix.goarm }}
      working-directory: acom-mon
      run: go build -v -o ../acom-mon-${{ matrix.goos }}-${{ matrix.goarch }} .

    - name: Test
      if: matrix.goos == 'linux' && matrix.goarch == 'amd64'
      working-directory: acom-mon
      run: go test -v ./...
